<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhasa</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

<div class="header">
    <div class="logo" onclick="window.location.href='index.html'">Suhasa</div>
    <div class="nav">
        <div class="nav-item" onclick="window.location.href='clients.html'">Clients</div>
        <div class="nav-item active" onclick="window.location.href='claims.html'">Claims</div>
        <div class="nav-item" onclick="window.location.href='payments.html'">Payments</div>
        <div class="nav-item" onclick="window.location.href='agents.html'">Agents</div>
        <div class="nav-item" onclick="window.location.href='policies.html'">Policies</div>
    </div>
    <div class="login-button" onclick="window.location.href='login.html'">Login</div>
</div>

<div class="main-btn">
    <a class="btn" href="http://example.com" >All Claims</a>
    <a class="btn" href="http://example.com" >Create Claim</a>
    <a class="btn" href="http://example.com" >Edit Claim</a>
    <a class="btn" href="http://example.com" >Put Claim</a>
    <a class="btn" href="http://example.com" >Delete Claim</a>
</div>


</body>
</html>
