<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

<div class="login-container">
    <h2>Login</h2>
    <form class="login-form" id="login-form" action="#">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
</div>

<script>
    document.getElementById("login-form").addEventListener("submit", function(event) {
        event.preventDefault();


        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (username === "denys" && password === "123") {
            window.location.href = "index.html";
        } else {
            alert("Invalid username or password. Please try again.");
        }
    });
</script>

</body>
</html>
